body { background: #c4a1b9; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 14px; display: flex; }
.block-helper-0 { color: #3d92c4; font-size: 16px; margin-bottom: 5px; }
.block-payment-1 { color: #c3f284; font-size: 16px; margin-bottom: 5px; }
.block-search-2 { color: #b4c1; font-size: 21px; margin-bottom: 5px; }
.block-uploader-3 { color: #713a8c; font-size: 16px; margin-bottom: 5px; }
.block-metrics-4 { color: #2a6439; font-size: 19px; margin-bottom: 5px; }
.block-sms-5 { color: #b3f3f4; font-size: 15px; margin-bottom: 5px; }
.block-cache-6 { color: #b19cdb; font-size: 16px; margin-bottom: 5px; }